#system_top_row {
    border-top: 4px solid darkcyan;
    background: #ffffff;
    box-shadow: 10px;
}

#system_logo {
    color: darkcyan;
    margin: 10px;
    font-size: xx-large;
}

#system_menu_wrapper {
    border-top: 4px solid darkcyan;
    margin-top: 20px;
    margin-left: 10px ;
    background: #ffffff;
    border-radius: 5px;
}

#system_menu_wrapper ul {
    text-indent: 0;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

#system_menu_wrapper ul li {
    padding-top: 8px;
    padding-bottom: 2px;

}

.margin-top {
    margin-top: 20px;
}